# PÃ¡ginas para programar python

1. www.mybinder.org
2. www.kaggle.com
3. www.jupyter.org/try
4. `github jobish` https://mybinder.org/v2/gh/jobish03/jobish03-Visualizacion_de_datos_para_la_toma_de_decisiones/main?filepath=welcome_binder.ipynb

Los paquetes hay que incluir en el archivo `requirements.txt`

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("antropometria-dataset-2.csv")

In [6]:
data_queretar = data[data['desc_ent']== "QUERETARO"]

In [7]:
data_queretar.peso.mean()

63.54734206471495

In [9]:
data_jal_sex1 = data[data['sexo']==1]
data_jal_sex1 = data_jal_sex1[data_jal_sex1['desc_ent']=="JALISCO"]
data_jal_sex1.peso.median()

65.5875

In [15]:
pd.pivot_table(data,index=["desc_ent","sexo"],values=["peso"], aggfunc=[np.mean]).head(60)

                                           mean
                                           peso
desc_ent                        sexo
AGUASCALIENTES                  1     69.985381
                                2     63.254292
BAJA CALIFORNIA                 1     71.391818
                                2     65.893667
BAJA CALIFORNIA SUR             1     75.561015
                                2     68.168959
CAMPECHE                        1     68.622637
                                2     62.920493
CHIAPAS                         1     58.365222
                                2     57.096111
CHIHUAHUA                       1     68.892642
                                2     64.815295
COAHUILA DE ZARAGOZA            1     68.873094
                                2     67.467348
COLIMA                          1     70.998878
                                2     66.978393
DISTRITO FEDERAL                1     69.460661
                                2     61.654128
DURANGO                         1     68.846451
                                2     64.400031
GUANAJUATO                      1     65.008000
                                2     63.100995
GUERRERO                        1     62.611437
                                2     58.899850
HIDALGO                         1     61.747958
                                2     58.972554
JALISCO                         1     67.076482
                                2     66.418111
MEXICO                          1     63.140314
                                2     58.887882
MICHOACAN DE OCAMPO             1     66.374612
                                2     63.784311
MORELOS                         1     65.741943
                                2     62.195391
NAYARIT                         1     68.822143
                                2     64.890564
NUEVO LEON                      1     70.168106
                                2     64.823014
OAXACA                          1     60.810332
                                2     57.450557
PUEBLA                          1     61.866875
                                2     58.820175
QUERETARO                       1     66.751233
                                2     60.860793
QUINTANA ROO                    1     65.149528
                                2     63.538000
SAN LUIS POTOSI                 1     62.614907
                                2     58.979163
SINALOA                         1     71.122911
                                2     65.565234
SONORA                          1     70.880406
                                2     67.024857
TABASCO                         1     69.255801
                                2     64.190187
TAMAULIPAS                      1     72.060601
                                2     64.866851
TLAXCALA                        1     64.784437
                                2     60.201164
VERACRUZ DE IGNACIO DE LA LLAVE 1     65.324094
                                2     60.565646

In [19]:
df = pd.read_csv("adult.csv")

In [35]:
pd.pivot_table(df,index=["marital-status","education"], values=["hours-per-week"], aggfunc=[np.mean]).iloc[55]

mean  hours-per-week    40.450696
Name: ( Never-married,  Bachelors), dtype: float64

In [47]:
pd.pivot_table(df,index=["education","marital-status","sex"], values=["age"], aggfunc=[np.median]).iloc[139]

median  age    41.0
Name: (12th,  Divorced,  Female), dtype: float64